<section class="bg-white dark:bg-gray-900 mb-20">
  <div class="container px-16 py-16 mx-auto">
    <div class="items-center lg:flex">
        <div class="w-full lg:w-1/2">
            <div class="lg:max-w-lg">
                <h1 class="text-3xl font-semibold text-gray-800 dark:text-white lg:text-4xl">Le site pour trouver le film qu'il vous faut !</h1>

                <p class="my-4 text-gray-600 dark:text-gray-400">Inscrivez-vous et commencer à remplir vos films favoris.</p>

                <a routerLink="/register" class="w-full px-5 py-2 mt-6 text-sm tracking-wider text-white uppercase transition-colors duration-300 transform bg-blue-600 rounded-md lg:w-auto hover:bg-blue-500 focus:outline-none focus:bg-blue-500">S'inscrire</a>
            </div>
        </div>

        <div class="flex items-center justify-center w-full mt-6 lg:mt-0 lg:w-1/2">
            <img class="w-full h-full lg:max-w-3xl" src="https://www.radiofrance.fr/s3/cruiser-production/2022/10/cb045701-30ee-4f4a-a736-d887866aa67e/870x489_innocent-affich.jpg" alt="Catalogue-pana.svg">
        </div>
    </div>
  </div>
</section>

<section class="bg-white dark:bg-gray-900">
  <div class="container grid grid-cols-1 gap-8 px-4 py-12 mx-auto lg:grid-cols-2">
      <div class="flex flex-col items-center max-w-lg mx-auto text-center">
          <h2 class="text-3xl font-semibold tracking-tight text-gray-800 dark:text-white">
              Les acteurs
          </h2>

          <p class="mt-3 text-gray-500 dark:text-gray-300">Trouvez vos acteurs préférés pour vous guider parmi tous nos films. Sélectionnez l'acteur de votre choix avant de naviguer dans sa filmographie.</p>

          <a routerLink="/actors" class="inline-flex items-center justify-center w-full px-5 py-2 mt-6 transition-colors duration-300 transform border rounded-lg bg-gray-900 border-gray-700 text-white sm:w-auto hover:bg-gray-800 ring-gray-700 focus:ring focus:ring-gray-200 focus:ring-opacity-80">
              C'est parti !
          </a>
      </div>

      <div class="flex flex-col items-center max-w-lg mx-auto text-center">
          <h2 class="text-3xl font-semibold tracking-tight text-gray-800 dark:text-white">
              Les genres
          </h2>

          <p class="mt-3 text-gray-500 dark:text-gray-300">Envie d'un film d'horreur ? Ou d'une comédie romantique ? Choisissez votre prochain film en vous basant sur son genre pour passer enfin la soirée ciné qui vous fait envie.</p>

          <a routerLink="/categories" class="inline-flex items-center justify-center w-full px-5 py-2 mt-6 transition-colors duration-300 transform border rounded-lg bg-gray-900 border-gray-700 text-white sm:w-auto hover:bg-gray-800 ring-gray-700 focus:ring focus:ring-gray-200 focus:ring-opacity-80">
            Commencer maintenant
          </a>
      </div>
  </div>
</section>
