<div class="flex h-fit w-full justify-center mb-12">
  <div class="w-full rounded-xl p-12 shadow-2xl shadow-blue-200 md:w-8/12 lg:w-6/12 bg-gray-800">
    <div class="grid grid-cols-1 gap-6 lg:grid-cols-12">
      <div class="grid-cols-1 lg:col-span-3">
          <img class="object-cover mx-auto h-24 w-24 rounded-full" src="{{ actor?.image }}" alt="pp">
      </div>

      <div class="col-span-1 lg:col-span-9">
        <div class="text-center lg:text-left">
          <h2 class="text-2xl font-bold text-white">{{ actor?.firstName + ' ' + actor?.lastName }}</h2>
          <p class="mt-2 font-semibold text-white">{{ actor?.birth | date:'shortDate' }}{{actor?.death ? '- ' + (actor?.death | date:'shortDate') : ' (en vie)'}}</p>
        </div>

        <div *ngIf="currentUser && currentUser.role === 'admin'" class="mt-6 grid grid-cols-2 gap-4">
          <button type="button" class="inline-block px-6 py-2 border-2 border-yellow-500 text-yellow-500 font-medium text-xs leading-tight uppercase rounded hover:bg-yellow-500 hover:text-white focus:outline-none focus:ring-0 transition duration-150 ease-in-out">Modifier</button>
          <button type="button" class="inline-block px-6 py-2 border-2 border-red-600 text-red-600 font-medium text-xs leading-tight uppercase rounded hover:bg-red-600 hover:text-white focus:outline-none focus:ring-0 transition duration-150 ease-in-out ml-5">Supprimer</button>
        </div>
      </div>
    </div>
  </div>
</div>

<h1 class="text-3xl font-semibold text-center text-gray-800 lg:text-4xl mb-6">Filmographie</h1>
<div class="flex flex-col my-12">
    <div class="overflow-x-auto shadow-md sm:rounded-lg">
        <div class="inline-block min-w-full align-middle">
            <div class="overflow-hidden ">
                <table class="min-w-full divide-y table-fixed divide-gray-700">
                    <thead class="bg-gray-700">
                        <tr>
                            <th scope="col" class="py-3 px-6 text-xs font-medium tracking-wider text-left uppercase text-gray-400">
                                Titre
                            </th>
                            <th scope="col" class="py-3 px-6 text-xs font-medium tracking-wider text-left uppercase text-gray-400">
                                Année de sortie
                            </th>
                            <th scope="col" class="py-3 px-6 text-xs font-medium tracking-wider text-left uppercase text-gray-400">
                                Genre
                            </th>
                            <th scope="col" class="py-3 px-6 text-xs font-medium tracking-wider text-left uppercase text-gray-400">
                                Durée
                            </th>
                            <th scope="col" class="py-3 px-6 text-xs font-medium tracking-wider text-left uppercase text-gray-400">
                                Réalisateur
                            </th>
                            <th scope="col" class="py-3 px-6 text-xs font-medium tracking-wider text-left uppercase text-gray-400">
                                Budget
                            </th>
                            <th scope="col" class="py-3 px-6 text-xs font-medium tracking-wider text-left uppercase text-gray-400">
                                Rentrées
                            </th>
                            <th *ngIf="currentUser && currentUser.role === 'admin'" scope="col" class="py-3 px-6 text-xs font-medium tracking-wider text-left uppercase text-gray-400"></th>
                        </tr>
                    </thead>
                    <tbody class="divide-y bg-gray-800 divide-gray-700">
                        <tr *ngFor="let movie of movies" class="cursor-pointer hover:bg-gray-700">
                            <td routerLink="/movie/{{ movie.id }}" class="py-4 px-6 text-sm font-medium whitespace-nowrap text-white">{{ movie.title }}</td>
                            <td routerLink="/movie/{{ movie.id }}" class="py-4 px-6 text-sm font-medium whitespace-nowrap text-white">{{ movie.release | date:'mediumDate' }}</td>
                            <td routerLink="/movie/{{ movie.id }}" class="py-4 px-6 text-sm font-medium whitespace-nowrap text-white">{{ movie.category.label }}</td>
                            <td routerLink="/movie/{{ movie.id }}" class="py-4 px-6 text-sm font-medium whitespace-nowrap text-white">{{ movie.duration }} min</td>
                            <td routerLink="/movie/{{ movie.id }}" class="py-4 px-6 text-sm font-medium whitespace-nowrap text-white">{{ movie.director.firstName + ' ' + movie.director.lastName }}</td>
                            <td routerLink="/movie/{{ movie.id }}" class="py-4 px-6 text-sm font-medium whitespace-nowrap text-white">{{ movie.budget }} $</td>
                            <td routerLink="/movie/{{ movie.id }}" class="py-4 px-6 text-sm font-medium whitespace-nowrap text-white">{{ movie.revenue }} $</td>
                            <td *ngIf="currentUser && currentUser.role === 'admin'" class="py-4 px-6 text-sm font-medium text-right whitespace-nowrap">
                                <a routerLink="/movie/edit/{{ movie.id }}" class="cursor-pointer inline-block px-6 py-2 border-2 border-yellow-500 text-yellow-500 font-medium text-xs leading-tight uppercase rounded hover:bg-yellow-500 hover:text-white focus:outline-none focus:ring-0 transition duration-150 ease-in-out">Modifier</a>
                                <a (click)="delete(movie.id)" class="cursor-pointer inline-block px-6 py-2 border-2 border-red-600 text-red-600 font-medium text-xs leading-tight uppercase rounded hover:bg-red-600 hover:text-white focus:outline-none focus:ring-0 transition duration-150 ease-in-out ml-5">Supprimer</a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
